<template name="personalComment">
    <div class="personalComment" {{attributes}}>
        <div class="nodeModal personalComment-content">
            <h3><a href="#">{{topicTitle}}</a></h3>
            <h6>In Relation to: {{topicParent}}</h6>
            <p>
                Content: {{content}},
            </p>
            <h6>
                Commented on {{formatDate submitted "long"}}
            </h6>
        </div>
    </div>
</template>