<template name="alert">
    <div class="alert alert-{{level}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
</template>