<template name="abstract">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAbstract" aria-expanded="false" aria-controls="collapseTwo">
                    Abstract
                </a>
            </h4>
        </div>
        <div id="collapseAbstract" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="col-sm-12">
                    <ul class="comments">
                        {{nodeModal.abstract}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

