<template name="comments">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseComments" aria-expanded="true" aria-controls="collapseOne">
                    Comments
                </a>
            </h4>
        </div>
        <div id="collapseComments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-sm-12">
                    <ul class="comments">
                        {{#each comments}}
                            {{> comment}}
                        {{/each}}
                        {{#if user}}
                            {{> commentForm}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>