<template name="commentForm">
    <li>
        <div class="form-group">
            <textarea id="comment-area" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button id="submit-comments" class="btn btn-default">Add Comment</button>
        </div>
    </li>
</template>