<template name="comment">
    <li>
        <p>{{content}}</p>
        <h6>
            <span class="author">Author: {{author}}</span>
        </h6>
        <h6>
            <span class="date">on {{submitted}}</span>
        </h6>
    </li>
</template>
