<template name="nodeModal">
    <div class="modal fade in" id="node-modal" tabindex="-1" role="dialog" aria-labelledby="rootModalLable" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="rootModalLable">
                        <a href="{{nodeModal.url}}" target="_blank">{{nodeModal.title}}</a>
                    </h4>
                    {{#if nodeModal.parent}}
                    <h6>
                            (In Relation to: {{nodeModal.parent}} [{{nodeModal.semantic}}])
                    </h6>
                    {{/if}}
                </div>

                <div class="modal-body">

                    <div class="panel-group" id="accordionModel" role="tablist" aria-multiselectable="true">
                        {{> abstract}}
                        {{#if nodeModal.parent}}
                            {{> comments}}
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer">
                    {{#if nodeModal.parent}}
                        <div id="modal-footer-links" class="pull-left">
                            <ul>
                                <li>
                            <span class="glyphicon glyphicon-chevron-right" style="opacity: 0.6; font-size: 80%; margin-right: 10px;">
                            </span>
                                    <span>Votes: {{nodeModal.votes}}</span>
                                </li>
                            </ul>
                        </div>
                        {{#if user}}
                            <button type="button" class="btn btn-success upvote"
                                    {{upvoteDeactive}}
                                    >
                                Upvote
                            </button>
                            <button type="button" class="btn btn-warning downvote"
                                    {{downvoteDeactive}}
                                    >
                                Downvote
                            </button>
                        {{else}}
                            <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" data-title="You must be logged in to upvote">
                                <button type="button" class="btn btn-success upvote" disabled>
                                    Upvote
                                </button>
                            </div>
                            <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" data-title="You must be logged in to downvote">

                                <button type="button" class="btn btn-warning downvote"
                                    data-toggle="tooltip" data-placement="top" title="You must be logged in to downvote"
                                    disabled>
                                    Downvote
                                </button>
                            </div>
                        {{/if}}
                    {{/if}}
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>