<template name="layout">
    <div id="wrap">
        {{> header}}
        {{> alerts}}
        <div class="main">
            <div class="container">
                <div id="main" class="row">
                    {{> yield}}
                </div>
            </div><!--/main-->
        </div>
    </div><!--/wrap-->
    <div class="footer">
        <div class="container">
            <div class="credit text-center">&copy; by Daniel Moser, Michael Bärtschi and Timon Amstutz</div>
        </div>
    </div><!--/footer-->
</template>