/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    background: #eee;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    padding-bottom: 60px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Header styles
-------------------------------------------------- */
.header,
.navbar-default,
.navbar-default .navbar-brand,
.navbar-default a {
    background-color: #9C9496;
    border: none;

}
.dropdown-menu{
    background-color: #9C9496;

}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: normal;
}
.dropdown-menu > li > a:hover {
    background-color: #9C9496;
}
.dropdown-menu > li > a {
    min-width: 300px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}


.navbar {
    margin-bottom: 10px; }
/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

#login-other-options a {
    background-color: transparent;
    color: #666666 !important;
}

/* Main content styles
-------------------------------------------------- */

.personalComment, .comments li, .comment-form {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.graph svg {
    width: 100%;
    margin-bottom: 15px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#spinner {
    display: none;
    height: 300px;
}

.node:hover {
    cursor: pointer;
}

.slider-vertical {
    position: absolute;
    z-index: 100;
    margin-top: 30px;
    margin-left: 10px;
    top: 130px;
}

#ex1Slider .slider-selection {
    background: #ddd;
}

.slider-handle {
    background-color: #888;
    background-image: linear-gradient(to bottom,#777 0,#666 100%);
    opacity: 0.6;
}

.zoomer {
    margin-bottom: 20px;
}

.settings-submit-btn {
    floar: right;
}

.modal-footer ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}
.tooltip-wrapper {
    display: inline-block;
}
.tooltip-wrapper.btn {
    margin-right: 5px;
}
.control.glyphicon {
    position: static;
}

#link-0, #link-10, #link-20, #link-30, #link-40, #link-50, #link-60, #link-70, #link-80, #link-90, #link-100  {
    fill: none;
}

#link-0, #link-10 {
    stroke-width: 1.0px;
    opacity: 0.4;
    stroke: #ddd;
}

#link-20 {
    stroke-width: 1.2px;
    opacity: 0.4;
    stroke: #ccc;
}

#link-30 {
    stroke-width: 1.4px;
    opacity: 0.4;
    stroke: #bbb;
}

#link-40 {
    stroke-width: 1.6px;
    opacity: 0.6;
    stroke: #aaa;
}

#link-50 {
    stroke-width: 1.8px;
    opacity: 0.6;
    stroke: #999;
}

#link-60 {
    stroke-width: 2.0px;
    opacity: 0.6;
    stroke: #888;
}

#link-70 {
    stroke-width: 2.2px;
    opacity: 0.8;
    stroke: #777;
}

#link-80 {
    stroke-width: 2.4px;
    opacity: 0.8;
    stroke: #666;
}

#link-90 {
    stroke-width: 2.6px;
    opacity: 0.8;
    stroke: #555;
}

#link-100 {
    stroke-width: 2.8px;
    opacity: 1;
    stroke: #444;
}

.color-encoding button {
    margin: 4px;
}



.personalComment {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1; }
.personalComment:before, .personalComment:after {
    content: "";
    display: table; }
.personalComment:after {
    clear: both; }
.personalComment.invisible {
    opacity: 0; }
.personalComment.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
.personalComment.animate{
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
.personalComment .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
.personalComment .ppersonalComment-content {
    float: left; }
.personalComment .personalComment-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px; }
.personalComment .personalComment-content h3 a {
    display: inline-block;
    margin-right: 5px; }
.personalComment .personalComment-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa; }
.personalComment .personalComment-content p {
    margin: 0; }
.personalComment .discuss {
    display: block;
    float: right;
    margin-top: 7px; }





.modal .panel-body{
    background: #fdfdfd;
}

.panel-group .panel-heading {
    border-bottom: 1;
}
#accordion {
    margin-bottom: 20px;
    position: fixed;
    z-index: 101;
}

.comments {
    list-style-type: none;
    margin: 0;
}
ul.comments  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-body .collapse.in {
	overflow: auto;
	max-height: 300px;
}

.comments li h4 {
    font-size: 16px;
    margin: 0; }
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal; }
.comments li h4 a {
    font-size: 12px; }
.comments li p:last-child {
    margin-bottom: 0; }

@-webkit-keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.alerts{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    margin-right: 5px;
    pointer-events: auto;
}

.award{
    width : 33%;
}

/* Footer styles
-------------------------------------------------- */
.footer {
    background-color: #9C9496;
}

.footer  .credit {
    color: #ffffff;
    padding: 20px 0 10px 0;
}