<template name="slider">
    <div class="zoom-slider-wiki">
        <input id="zoom-slider"
               data-slider-id='zoom-slider-data'
               type="text"
               data-slider-min="0.1"
               data-slider-max="3"
               data-slider-step="0.01"
               data-slider-value="1"
               data-slider-orientation="vertical"/>
    </div>
</template>