<template name="notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Notifications
        {{#if notificationCount}}
            <span class="badge badge-inverse">{{notificationCount}}</span>
        {{/if}}
        <b class="caret"></b>
    </a>
    <ul class="notification dropdown-menu">
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notification}}
            {{/each}}
        {{else}}
            <li><span>No Notifications</span></li>
        {{/if}}
    </ul>
</template>
