<template name="notification">
    <li>
        <a href="#">
        {{#if isComment}}
            <strong>{{commenterName}}</strong> commented on <strong>{{topicTitle}}</strong> in relation to <strong>{{topicParent}}</strong>
        {{else}}
            New voting on <strong>{{topicTitle}}</strong> in relation to <strong>{{topicParent}}</strong>
        {{/if}}
        </a>
    </li>
</template>