<template name="advancedSettings">
    <div class="panel-group advanced-settings" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
                        Advanced Settings
                    </a>
                </h4>
            </div>
            <div id="collapseForm" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <label class="control-label" for="ordering-mode">Mode</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="modesRadios" id="modesRadios1" value="vote" checked>
                            Links are sorted first by voting and second by automatic ordering
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="modesRadios" id="modesRadios2" value="auto">
                            Links are only sorted by automated ordering
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="modesRadios" id="modesRadios2" value="random">
                            Links are sorted randomly
                        </label>
                    </div>
                    <p class="help-block">Mode for sorting the links for the given topic</p>
                    <label class="control-label" for="links-number">References</label>
                    <select id="links-number" name="links-number" class="form-control">
                        <option>1</option>
                        <option>3</option>
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                    </select>
                    <p class="help-block">The number of linked references for the given topic</p>
                    <label class="control-label" for="ordering-mode">Link Title</label>
                    <div>
                            <input type="text"  id="searchString" value="">
                        <p class="help-block">Text to search in the link title</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>