<template name="wikiForm">
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group {{errorClass 'title'}}">
                    <input id="topic-title" name="title" type="text" class="form-control topic-input"
                           required="" autofocus="true" placeholder="Your Topic of interest" value=""/>
                    <span class="help-block">{{errorMessage 'title'}}</span>
                </div>
            </div>
            <div class="col-xs-3">
                <button id="topic-submit" class="btn btn-default settings-submit-btn pull-right">Submit</button>
            </div>
        </div>
        {{> advancedSettings}}
</template>