<template name="awards">
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>Votes</h1>
                <p>You voted: {{nrVotes}} times.</p>

                {{#if awardVotes}}
                    <img class="award" src="/img/award-{{awardVotes}}.png"/>
                {{/if}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>Comments</h1>
                <p>You commented: {{nrComments}} times.</p>
                {{#if awardComments}}
                    <img class="award" src="/img/award-{{awardComments}}.png"/>
                {{/if}}
            </div>
        </div>
    </div>
</template>