<template name="header">

    <div class="header">
        <nav class="container navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'wiki'}}">The Wiki-Project</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{activeRouteClass 'wiki'}}">
                            <a href="{{pathFor 'wiki'}}">Search</a>
                        </li>
                        {{#if user}}
                        <li class="{{activeRouteClass 'comments'}}">
                            <a href="{{pathFor 'comments'}}">Own Comments</a>
                        </li>
                            <li class="{{activeRouteClass 'awards'}}">
                                <a href="{{pathFor 'awards'}}">Awards</a>
                            </li>
                        <li class="dropdown">
                            {{> notifications}}
                        </li>
                        {{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{> loginButtons}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>